<div class="keybindings-panel">
    <h3 class="panel-title">Controls</h3>
    <ul class="keybindings-list">
        <li><kbd>←</kbd><kbd>→</kbd> Move</li>
        <li><kbd>↑</kbd> Rotate CW</li>
        <li><kbd>Z</kbd> Rotate CCW</li>
        <li><kbd>↓</kbd> Soft drop</li>
        <li><kbd>Space</kbd> Hard drop</li>
        <li><kbd>C</kbd> Hold</li>
        <li><kbd>P</kbd> Pause</li>
    </ul>
</div>
